@page "/users"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject PERforMAX.Data.DataContext DB
@using PERforMAX.Domain.Entities

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Users">
    <PropertyColumn Property="user => user.Firstname" />
    <PropertyColumn Property="user => user.Lastname" />
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.BirthDate" />
    <PropertyColumn Property="user => user.ModifiedDate" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
